.heading{

    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    border: 0;
    box-shadow: 5px 5px 5px black;
    

}

.coppy_rightFooter{
    
    background-color: aqua;
    
    
        animation-name: Tanu;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    font-weight: bolder;

    margin-top: 600;

}
@keyframes Tanu {
    from { box-shadow : 1px 1px 38px rgb(219, 5, 5);}
    to{box-shadow: 1px 1px 38px rgb(238, 255, 0);}
    
}

canvas{
padding-top: 50px;
animation-name: toto;
animation-duration: 2s;
animation-iteration-count: infinite;
background-color: black;
}
@keyframes toto {
from{ box-shodow: 5px 5px 38px red}
to{ box-shadow: 5px 5px 38px black}
}
.coppy_rightFooter{
    position: sticky;
   
}
   
    
